 /* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body{
  font-family:orffela, raleway light;
  background-color: #F4F8FA;;
  color: #012e46;
  line-height: 1.6;
}

/* CONTAINER */

.container{
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* HEADER */

header{
  background-color: #004173;
  color: white;
  padding: 50px 0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  color: white;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.3s;
}

nav a:hover{
  color: #c7f5f7;
}

/* HERO */

.hero{
  padding: 80px 0;
   background-color: #FFFFFF;
  text-align: center;
}

.hero h2{
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p{
  max-width: 700px;
  margin: auto;
}

/* BOTÃO */

.botao{
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #004173;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.botao:hover{
  background-color: #004173;
}

/* SEÇÕES */

.secao{
  padding: 60px 0;
}

/* PROJETOS */

.projetos{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

/* CARD */

.card{
   background-color: #FFFFFF;
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover{
  transform: translateY(-5px);
}

/* IMAGEM DO CARD */

.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* TEXTO CARD */

.card h3{
  padding: 15px 15px 10px;
}

.card p{
  padding: 0 15px 20px;
}

/* HABILIDADES */

.lista-habilidades{
  margin-top: 20px;
  padding-left: 20px;
}

.lista-habilidades li{
  margin-bottom: 10px;
}

/* FOOTER */

footer{
  background-color: #004173;
  color: white;
  text-align: center;
  padding: 20px 0;
}